<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- Aqui no esta declarado Vue -->
    <div id="shopping-list">
        <!-- Aqui si! -->
        <div class="container">
            <div>
                <h1>Ejemplo 1</h1>
                <h2>{{ header }}</h2>
                <input type="text" v-model="header">
                <!-- Con v-model enlazamos el input al dato header del atributo data  de esta forma esta sincronizado
                Con Jquery o vanilla JS hubieramos tenido que primero añadir un event-listener al input
                y luego actualizar el h1 cada que el usuario escribiera algo-->
            </div>

            <div>
                <h1>Ejemplo 2</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <h2>{{ header ? header : 'Welcome' }}</h2>

                <!-- Podemos usar Expresiones de JS dentro de {{ }} con la limitante de solo poder evaluar una expresion a la vez
                 Tampoco podemos declarar variables o evaluar expresiones como con un if()
                 Para esto se pueden usar operadores ternarios-->
                <input type="text" v-model="header">
                <!-- Con v-model enlazamos el input al dato header del atributo data  de esta forma esta sincronizado
                Con Jquery o vanilla JS hubieramos tenido que primero añadir un event-listener al input
                y luego actualizar el h1 cada que el usuario escribiera algo-->
            </div>

            <div>
                <h1>Ejemplo 3</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <ul>
                    <li v-for="item in items" >{{ item }}</li>
                    <!-- Al se reactivo nos permite agregar mas productos sin necesidad de recargar
                     Por ejemplo ahora podemos agregar un producto desde consola
                     shoppingList.$data.items.push('Algo') o quitarlos con
                     shoppingList.$data.items.pop)
                     Entonces con esto podemos olvidarnos de quitar o poner elementos con selectores de Jquery -->
                </ul>
            </div>

            <div>
                <h1>Ejemplo 4</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <input v-model="newItem" type="text" placeholder="Add an Item">
                <!-- Con esto atraves del v-model enlazamos to do lo que esta en el input con la variable
                newItem Con VueDevTools podemos ver como se actualiza newItem y podemos editarlo
                Nota: Si devTools no funciona o reconoce Vue, debemos ir a las extension y modificar los settings
                Allow acces to file URLS-->
                <ul>
                    <li v-for="item in items" >{{ item }}</li>
                </ul>
            </div>

            <div>
                <h1>Ejemplo 5</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <!--
                Para poder añadir un nuevo elemento a la lista podemos hacerlo desde consola con $vm0
                $vm0.items  Vemos los items actuales
                Primero debemos establecer newItem a algun valor
                $vm0.newItem = 'Algo'
                Luego agregarlo a Items
                $vm0.items.push($vm0.newItem)
                -->
                <!-- Ahora implementaremos este proceso en nuestro html-->
                <div class="form">
                    <input v-model="newItem" type="text" placeholder="Add an Item" v-on:keyup.enter="items.push(newItem)">
                    <button class="btn btn-primary" @click="items.push(newItem)" >Save Item</button>
                    <!-- Con v-on especificamos que se tiene que hacer cuando una accion se lleva acabo
                    En el caso del boton puede ser click, hover, etc...
                    Se pueden usar multiples v-on como para especificar que al dar enter haga la misma accion-->
                    <!-- Se puede sustuir la sintaxis de v-on: con @-->
                </div>


                <ul>
                    <li v-for="item in items" >{{ item }}</li>
                </ul>
            </div>

            <div>
                <h1>Ejemplo 6</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <!-- Trasladeremos lo anterior que se esta repitiendo a un metodo de Vue-->
                <div class="form">
                    <input v-model="newItem" type="text" placeholder="Add an Item" @keyup.enter="saveItem">
                    <button class="btn btn-primary" @click="saveItem" >Save Item</button>
                </div>


                <ul>
                    <li v-for="item in items" >{{ item }}</li>
                </ul>
            </div>

            <div>
                <h1>Ejemplo 7</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>

                <!-- Agregamos 2 botones que se van a renderizar condicionalmente dependiendo el estado-->
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-danger" @click="changeState('default')">Cancel</button>
                <!-- Podemos ver que cambiando el estado podemos renderizar condicionalmente ahora desde devtools
                Por lo que crearemos un metoodo para cambiar el estado-->


                <!-- Vue nos prporciona v-if y v-else para poder renderizar contenido condicionalmente -->
                <!-- Podemos renderizar condicionalmente el form cuando el estado es edit
                Si cambiamos state a edit en vuedevtools este aparacera-->
                <div v-if="state === 'edit'" class="form">
                    <input v-model="newItem" type="text" placeholder="Add an Item" @keyup.enter="saveItem">
                    <button class="btn btn-primary" @click="saveItem" >Save Item</button>
                </div>
                <ul>
                    <li v-for="item in items" >{{ item }}</li>
                </ul>
                <p v-if="items.length === 0">No tienes ningun producto</p>
            </div>

            <div>
                <h1>Ejemplo 8</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-danger" @click="changeState('default')">Cancel</button>

                <div v-if="state === 'edit'" class="form">
                    <input v-model="newItem" type="text" placeholder="Add an Item" @keyup.enter="saveItem">
                    <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem" >Save Item</button>
                </div>
                <!-- Con v-bind podemos manejar cualquier atributo de HTML a nuestro data -->
                <!-- 1.
                <a v-bind:href="newItem" target="_blank">DinamycLink</a>
                -->
                <!-- De esta forma podemos hacer dinamicos nuestro botones como habilitarlos o no para prevenir
                agregar datos vacios añadiendo v-bind:disabled"" a nuestro boton Save ITem-->

                <!-- v-bind podemos reducirlo a la sintaxis de 'v-bind:' a  ':' unicamente-->


                <ul>
                    <li v-for="item in items" >{{ item }}</li>
                </ul>
                <p v-if="items.length === 0">No tienes ningun producto</p>
            </div>

            <div>
                <!-- Cuando usamos enlazado de atributos (binding) podemos pasar datos adicionales para saber que clases cargar
                Para empezar modificaremos nuestros atributo Items a un arreglo de objetos item
                Tambien debemos modificar nuestro metodo saveITem para que guarde un objeto de tipo item-->

                <!-- Para cargar clases dinamicas Vue tiene 2 opcioens para hacerlo con array sintax u object sintax
                Object sintax es mas consisa a la hora de añadir clases dinamicas-->
                <h1>Ejemplo 9</h1>
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-danger" @click="changeState('default')">Cancel</button>
                <div v-if="state === 'edit'" class="form">
                    <input v-model="newItem" type="text" placeholder="Add an Item" @keyup.enter="saveItem">
                    <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem" >Save Item</button>
                </div>
                <ul>
                    <!-- Aqui añadaremos las clases dinamicas-->
                    <!--`
                    Object Sintax : { 'text-danger': item.purchased }
                    Array Sintax: [] Nos da mas flexibilidad para cambiar entre 2 clases
                    Tambien podemos añadir clases directas con class
                    [ item.purchased  ? dangerClass : 'text-primary', item.highPriority ? 'bg-dark' : '']
                    -->
                    <!-- Si queremos las cosas simples o no necesitamos mucha complejidad podemos recurrir a object sintax -->


                    <li v-for="item in items" class="m-3" :class="{ 'text-danger': item.purchased }" @click="togglePurchased(item)">{{ item.label }}</li>


                    <!-- Para cambiar este estado dinamico podemos agregar un metodo que modifique el estado de itemPurschased
                     agregando @click a nuestro enlace--->
                </ul>
                <p v-if="items.length === 0">No tienes ningun producto</p>
            </div>

            <div>
                <h1>Ejemplo 10 Computed properties</h1>
                <!--
                 Computed properties nos permiten hacer transformaciones o calculos sobre data
                 Podemos crear una computed propertie que nos indice el tamaño del texto en el input

                 Son herramientas muy poderosas que nos ayudan a encapsular transformaciones o manipulaciones de datos
                 y se mantienen sincronizados con los datos que referencian.

                 Ahora vamos añadir un computed propertie que muestre nuestro item que agreguemos al principio


                Para saber cuando usar metodos y cuando computedProperties

                Los metodos los usamos cuando queremos cambias los datos
                y computed properties cuando simplemente queremos cambiar la forma de presentacion de los datos
                 -->
                <h2>{{ header.toLocaleUpperCase() }}</h2>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-danger" @click="changeState('default')">Cancel</button>
                <div v-if="state === 'edit'" class="form">
                    <input v-model="newItem" type="text" placeholder="Add an Item" @keyup.enter="saveItem">
                    <p>{{ characterCount }}</p>
                    <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem" >Save Item</button>
                </div>
                <ul>
                    <li v-for="item in reversedItems" class="m-3" :class="{ 'text-danger': item.purchased }" @click="togglePurchased(item)">{{ item.label }}</li>
                </ul>
                <p v-if="items.length === 0">No tienes ningun producto</p>
            </div>

        </div>

    </div>
    <!-- Aqui Tampoco -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>

        /* Ejemplo 1 -3
        *  var shoppingList = new Vue({  // Se crea una instancia de Vue y se inicializa con un objeto
            el: '#shopping-list',  //Con esto decimos donde Vue deberia existir en la pagina
            data : {  //Data property es donde almacenamos los datos para que las instancias de Vue puedan usarlas
                header: 'Shopping list app',
                items: [
                    '10 party hats',
                    '2 board games',
                    '20 cups',
                ]
            }
        });
        * */
/*
        //Ejemplo 4-5
        var shoppingList = new Vue({  // Se crea una instancia de Vue y se inicializa con un objeto
            el: '#shopping-list',  //Con esto decimos donde Vue deberia existir en la pagina
            data : {  //Data property es donde almacenamos los datos para que las instancias de Vue puedan usarlas
                header: 'Shopping list app',
                newItem : '',
                items: [
                    '10 party hats',
                    '2 board games',
                    '20 cups',
                ]
            }
        });

 */
/*
        //Ejemplo 6
        var shoppingList = new Vue({  // Se crea una instancia de Vue y se inicializa con un objeto
            el: '#shopping-list',  //Con esto decimos donde Vue deberia existir en la pagina
            data : {  //Data property es donde almacenamos los datos para que las instancias de Vue puedan usarlas
                header: 'Shopping list app',
                newItem : '',
                items: [
                    '10 party hats',
                    '2 board games',
                    '20 cups',
                ]
            },
            methods : {  //Podemos declarar metodos que encapsulan funcionalidades para nuestra instancia de Vue
                //Algo a tener en cuenta en los metodos es que no tenemos acceso directo a los valores de data como
                //con v-on, tenemos que referenciarlos usando this
                //Podemos probar los metodos desde consola $vm0.saveItem() para probarlos
                saveItem: function () {
                    this.items.push(this.newItem);
                    this.newItem = ''; //Con esto actualizamos el valor de NewItem
                }
            }
        });

 */

        // //Ejemplo 7 - 8
        // var shoppingList = new Vue({  // Se crea una instancia de Vue y se inicializa con un objeto
        //     el: '#shopping-list',  //Con esto decimos donde Vue deberia existir en la pagina
        //     data : {  //Data property es donde almacenamos los datos para que las instancias de Vue puedan usarlas
        //         state: 'default',  //Esto lo usaremos para renderizar condicionalmente el form, primero lo estableceremos a default
        //         header: 'Shopping list app',
        //         newItem : '',
        //         items: [
        //             // '10 party hats',
        //             // '2 board games',
        //             // '20 cups',
        //         ]
        //     },
        //     methods : {  //Podemos declarar metodos que encapsulan funcionalidades para nuestra instancia de Vue
        //         //Algo a tener en cuenta en los metodos es que no tenemos acceso directo a los valores de data como
        //         //con v-on, tenemos que referenciarlos usando this
        //         //Podemos probar los metodos desde consola $vm0.saveItem() para probarlos
        //         saveItem: function () {
        //             this.items.push(this.newItem);
        //             this.newItem = ''; //Con esto actualizamos el valor de NewItem
        //         },
        //         changeState: function(newState) {
        //             this.state = newState;
        //             this.newItem = '';
        //         }
        //     }
        // });

        // //Ejemplo 9
        // var shoppingList = new Vue({  // Se crea una instancia de Vue y se inicializa con un objeto
        //     el: '#shopping-list',  //Con esto decimos donde Vue deberia existir en la pagina
        //     data : {  //Data property es donde almacenamos los datos para que las instancias de Vue puedan usarlas
        //         state: 'default',  //Esto lo usaremos para renderizar condicionalmente el form, primero lo estableceremos a default
        //         header: 'Shopping list app',
        //         newItem : '',
        //         dangerClass : 'text-danger',
        //         items: [
        //             {
        //                 label: 'Product 1',
        //                 purchased : false,
        //                 highPriority : false
        //             },
        //             {
        //                 label: 'Product 2',
        //                 purchased : true,
        //                 highPriority : false,
        //             },
        //             {
        //                 label: 'Product 3',
        //                 purchased : false,
        //                 highPriority : true
        //             },
        //         ]
        //     },
        //     methods : {  //Podemos declarar metodos que encapsulan funcionalidades para nuestra instancia de Vue
        //         saveItem: function () {
        //             this.items.push({
        //                 label: this.newItem,
        //                 purchased : false
        //             });
        //             this.newItem = ''; //Con esto actualizamos el valor de NewItem
        //         },
        //         changeState: function(newState) {
        //             this.state = newState;
        //             this.newItem = '';
        //         },
        //         togglePurchased: function (item) {
        //             item.purchased = !item.purchased;
        //         }
        //     }
        // });

        //Ejemplo 10
        var shoppingList = new Vue({  // Se crea una instancia de Vue y se inicializa con un objeto
            el: '#shopping-list',  //Con esto decimos donde Vue deberia existir en la pagina
            data : {  //Data property es donde almacenamos los datos para que las instancias de Vue puedan usarlas
                state: 'default',  //Esto lo usaremos para renderizar condicionalmente el form, primero lo estableceremos a default
                header: 'Shopping list app',
                newItem : '',
                dangerClass : 'text-danger',
                items: [
                    {
                        label: 'Product 1',
                        purchased : false,
                        highPriority : false
                    },
                    {
                        label: 'Product 2',
                        purchased : true,
                        highPriority : false,
                    },
                    {
                        label: 'Product 3',
                        purchased : false,
                        highPriority : true
                    },
                ]
            },
            computed: { // A diferencia de los metodos es importante que los computed retornen un valor siempre
                characterCount(){ // Nos regresara el tamaño de nuestro input
                    return this.newItem.length;
                },
                reversedItems() {
                    return this.items.slice(0).reverse();
                    //Se usa slice(0) porque queremos hacer una copia del array
                    // de otra forma manipulariamos los datos y ese no es el objetivo de los computed properties
                    //es solo transformar y manipular los datos para la capa de presentacion
                }
            },
            methods : {  //Podemos declarar metodos que encapsulan funcionalidades para nuestra instancia de Vue
                saveItem: function () {
                    this.items.push({
                        label: this.newItem,
                        purchased : false
                    });
                    this.newItem = ''; //Con esto actualizamos el valor de NewItem
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function (item) {
                    item.purchased = !item.purchased;
                }
            }
        });
    </script>


</body>
</html>